.about {
    background: #fff7f4;
    width: clamp(345px, 65vw, 65vw);
    padding: 50px;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    flex-direction: row;
    margin-bottom: 8vh;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 40px;
        padding: 30px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }

    &_left {
        width: 55%;

        @media screen and (max-width: 1000px) {
            width: 100%;
        }
        
        h1 {
            font-size: clamp(32px, 3vw, 54px);
            font-family: 'Space Mono';
            letter-spacing: -1px;
            line-height: 1.2;
        }

        h2 {
            font-size: clamp(20px, 1.4vw, 30px);
            margin-bottom: 25px;
        }

        p {
            margin: 10px 0 10px 0;
            font-size: clamp(14px, 1.05vw, 20px);
        }
    }
    
    .cards {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        gap: 40px;

        @media screen and (max-width: 1000px) {
            width: 100%;
            padding-left: 0;
        }
    }
}

