.projects {
    background: #fff7f4;
    width: 1000px;
    height: 700px;
    padding: 50px;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 80px;
    position: absolute;
    right: 9%;

    h2 {
        font-family: 'Space Mono';
        font-size: 46px;
        letter-spacing: -1px;
    }
    
    h3 {
        font-size: 20px;
        margin-top: 20px;
    }
}