@use '../App.scss' as *;

.black-key {
    background: $custom-black;
    height: 140px;
    width: 50px;
    left: 66px;
    position: absolute;
    top: 46px;
    border-radius: 0 0 5px 5px;
}

.black-key:nth-child(2) {
    left: 146px;
}