.card {
    width: clamp(230px, 24vw, 400px);
    height: clamp(105px, 8.5vw, 140px);
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    position: relative;

    @media screen and (max-width: 1000px) {
        width: 100%;
        max-width: 400px;
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    &__content {
        font-family: 'Source Code Pro';
        padding: 0px 15px 5px;
        font-size: clamp(12px, 0.9vw, 16px);

        &__title {
            color: #50FA7B;
        }

        p {
            color: #F2F2F2;
            margin-bottom: 5px;
        }
    }

    &__logo {
        position: absolute;
        top: -32px;
        right: 10px;
        padding: 10px;

        img {
            width: 58px;
        }
    }
}
  
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
  
.circle {
    padding: 0 4px;
}
  
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
  
.red {
    background-color: #ff605c;
}
  
.yellow {
    background-color: #ffbd44;
}
  
.green {
    background-color: #00ca4e;
}
   