@import '../assets/main.scss';

.piano {
    position: relative;
    height: 315px;
    width: 262px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    background: $custom-black;
}