@use '../App.scss' as *;

.piano {
    height: 315px;
    z-index: 1;
    width: 262px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    background: $custom-black;
}