.white-key {
    cursor: pointer;
    width: 70px;
    height: 270px;
    background-color: white;
    box-shadow: 
        inset 2px 2px 0 #1a1a1a,  /* haut et gauche */
        inset -1px -1px 0 #1a1a1a; /* droite et bas */
    border-radius: 0 0 4px 4px;

    &:hover {
        background: linear-gradient(45deg, #8B4513, #854328);
        transition: background-color 0.3s ease;

        span {
            color: #fff7f4;
            transition: color 0.3s ease;
        }
    }

    span {
        font-size: 22px;
        font-weight: 500;
        width: 110px;
        transform: rotate(-90deg);
        display: block;
        display: flex;
        margin-top: 194px;
        margin-left: -3px;
    }
} 